@import "./components/style/index.less";

@font-face {
  font-family: Roboto-Medium;
  src: url(./assets/Roboto-Medium.ttf);
}

@font-face {
  font-family: Ali-Puhui;
  src: url(./assets/AlibabaPuHuiTi-ExtraBold.ttf);
}

:root {
  font-family: Roboto-Regular, Ali-Puhui, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: @font-size-base;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li{
  list-style: none;
}

body, main {
  margin: 0;
  place-items: center;
  height: 100vh;
  width: 100vm;
  background-color: @normal-color;
}

a{
  text-decoration: none;
}

h1{
  font-size: @heading-1-size;
}

h2{
  font-size: @heading-2-size;
}

h3{
  font-size: @heading-3-size;
}

.jzy-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.jzy-vertical{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}